

{% extends 'customer/customernavbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Now - SmartSpend</title>
</head>
<body>
{% block body %}
<header>
    <!-- Include your navigation bar here if needed -->
</header>

<section class="products">
    <div class="container">
        <h2>  </h2>
        <!-- Product listings -->
        <div class="row">
            <!-- Example product card -->
            <div class="col-md-5">
                <div class="card">
                    <img src="https://i5.walmartimages.com/seo/Beautiful-Drew-Modular-Sectional-Sofa-with-Ottoman-by-Drew-Barrymore-Gray-Fabric_8d9716bc-b050-434c-b4b9-3a5a9f2dd0c5.5553d598a8dcec1472508f3fcd822882.jpeg?odnHeight=640&odnWidth=640&odnBg=FFFFFF" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Beautiful Drew Modular Sectional Sofa with Ottoman by Drew Barrymore, Gray Fabric<br></h5>
                        <h4 class="card-title"> $898.00</h4>
                        <p class="card-text" ><b> <i>Walmart</i></b></p>
                        <a href="https://www.walmart.com/ip/Beautiful-Drew-Modular-Sectional-Sofa-with-Ottoman-by-Drew-Barrymore-Gray-Fabric/3106006794?athcpid=3106006794&athpgid=AthenaContentPage_4044&athcgid=null&athznid=ItemCarousel_497dea83-3486-48e8-b6d3-20411460eea1_items&athieid=v0&athstid=CS020&athguid=MFRO1sgY1g-vqmySX8higaeIQH-E8HcGvFbn&athancid=null&athena=true" class="btn btn-primary">Shop</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/71I4OzmQE0L._SX679_.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Pacific Handicrafts Wooden Intersecting Floating Shelves Wall Mount Wall Shelf for Home Decoration and Living Room</h5>
                        <p class="card-text" ><b> <i>Amazon </i></b></p>
                        <h4 class="card-title"> ₹799</h4>
                        <a href="https://www.amazon.in/Pacific-Handicrafts-Intersecting-Floating-Decoration/dp/B08L67HF33/?_encoding=UTF8&pd_rd_w=PcvIk&content-id=amzn1.sym.c2e52a4b-1cfd-492f-8f77-6dce40ef592c&pf_rd_p=c2e52a4b-1cfd-492f-8f77-6dce40ef592c&pf_rd_r=RSMNJ3FM6B215RNQ0JMT&pd_rd_wg=J4TSU&pd_rd_r=0967aeab-3696-4a6c-a230-f8f3e413fc29&ref_=pd_gw_ls_gwc_pc_en1_&th=1" class="btn btn-primary">Shop</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <!-- Example product card -->
            <div class="col-md-5">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/61CR14p3QOL._SX679_.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">THEHEARTWILL® Wooden partition for Pooja Room/separators for Living Room/Wall partition/Room partition/Wooden partition for Living Room/Divider for Kitchen, Hall. (3 Panels)<br></h5>
                        <p class="card-text"><b> <i>Amazon </i></b></p>
                        <h4 class="card-title"> ₹8,199</h4>
                        <a href="https://www.amazon.in/dp/B0C4ZTQF3J/ref=sspa_dk_detail_1?psc=1&pd_rd_i=B0C4ZTQF3J&pd_rd_w=qpSFs&content-id=amzn1.sym.cfb442af-d763-47b6-9176-863585ada839&pf_rd_p=cfb442af-d763-47b6-9176-863585ada839&pf_rd_r=NA2JJ2M0CEF1QMRW7E5Z&pd_rd_wg=qo3QA&pd_rd_r=418c0680-1cbd-4c00-b38d-e726926eb1f2&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWxfdGhlbWF0aWM" class="btn btn-primary">Shop</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/51j3dnQkbvL.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Kohler Caxton Undercounter Bathroom Sink Basin - Oval in White - Vitreous China with Optimal Basin Space - Longlasting and Durable - Rear Drain Location - Easy Installation with Counters ‎2211IN-0</h5>
                        <p class="card-text" ><b> <i>Amazon </i></b></p>
                        <h4 class="card-title">  ₹3,858</h4>
                        <a href="https://www.amazon.in/KOHLER-Caxton-Undercounter-Lavatory-536/dp/B07V6SYFLH/ref=lp_86746127031_1_11?pf_rd_p=9e034799-55e2-4ab2-b0d0-eb42f95b2d05&pf_rd_r=W7EY75XW2BF9NQEQ9RC7&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D" class="btn btn-primary">Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
</body>
</html>
