<!DOCTYPE html>
{% extends 'customer/customernavbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mobiles</title>
</head>
<body>
{% block body %}
<header>
    <!-- Include your navigation bar here if needed -->
</header>

<section class="products">
    <div class="container">
        <h2>  </h2>
        <!-- Product listings -->
        <div class="row">
            <!-- Example product card -->
            <div class="col-md-5">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/31tyUh1todL._SY445_SX342_QL70_FMwebp_.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Apple iPhone 13 (128GB) - Midnight<br></h5>
                         <p class="card-text"><b> <i>Amazon </i></b></p>
                        <h4 class="card-title" > ₹59,900.00</h4>
                        <a href="https://www.amazon.in/Apple-iPhone-13-128GB-Midnight/dp/B09G9HD6PD/ref=asc_df_B09G9HD6PD/?tag=googleshopdes-21&linkCode=df0&hvadid=545087991017&hvpos=&hvnetw=g&hvrand=1871135093828387532&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1007742&hvtargid=pla-1486222845754&psc=1&mcid=48759fea28bb33c19dbfcaac12fc8ff5&gclid=CjwKCAiAi6uvBhADEiwAWiyRds9EUdcWHfFvfgJ_yA33gVQiDNNMMe6IZRhMKRs6PYBFPj403uB68BoCn8sQAvD_BwE" class="btn btn-primary">Shop</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/41037bXz-GL._SY445_SX342_QL70_FMwebp_.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Apple iPhone 15 Pro Max (256 GB) - Natural Titanium</h5>
                        <p class="card-text" ><b> <i>Amazon </i></b></p>
                        <h4 class="card-title"> ₹1,48,900</h4>
                        <a href="https://www.amazon.in/Apple-iPhone-Pro-Max-256/dp/B0CHX68YG9?ref_=ast_sto_dp&th=1&psc=1" class="btn btn-primary">Shop</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <!-- Example product card -->
            <div class="col-md-5">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/71v2jVh6nIL._SX679_.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Apple iPhone 15 (128 GB) - Pink<br></h5>
                        <p class="card-text" ><b> <i>Amazon </i></b></p>
                        <h4 class="card-title"> ₹72,999</h4>
                        <a href="https://www.amazon.in/dp/B0CHX3TW6X" class="btn btn-primary">Shop</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/31DaY6l18YL._SY445_SX342_QL70_FMwebp_.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Apple iPhone 14 Pro Max (256 GB) - Gold</h5>
                        <p class="card-text" color="red"><b> <i>Amazon </i></b></p>
                        <p class="card-text"> Currently unavailable.
We don't know when or if this item will be back in stock.</p>
                        <a href="https://www.amazon.in/Apple-iPhone-Pro-256GB-Gold/dp/B0BDK63WMS?ref_=ast_sto_dp" class="btn btn-primary">Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
</body>
</html>
