<!DOCTYPE html>
{% extends 'customer/customernavbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shirts</title>
</head>
<body>
{% block body %}
<header>
    <!-- Include your navigation bar here if needed -->
</header>

<section class="products">
    <div class="container">
        <h2>  </h2>
        <!-- Product listings -->
        <div class="row">
            <!-- Example product card -->
            <div class="col-md-5">
                <div class="card">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20231016/1fbJ/652d42c8ddf7791519413b3f/-473Wx593H-466714539-red-MODEL.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">WOXEN
Men Checked Regular Fit Shirt<br></h5>
                        <p class="card-text" ><b> <i>Ajio </i></b></p>
                        <h4 class="card-title">₹378</h4>
                        <a href="https://www.ajio.com/woxen-men-checked-regular-fit-shirt/p/466714539_red" class="btn btn-primary">Shop</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <img src="https://getketchadmin.getketch.com/product/8905980787731/660/LMSH016448_1.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Locomotive Men Black Self Design Regular Fit Casual Shirts</h5>
                        <p class="card-text" ><b> <i>Ketch</i></b></p>
                        <h4 class="card-title">Rs. 889</h4>
                        <a href="https://www.getketch.com/product/locomotive-premium-men-black-knitted-textured-cuban-collar-relaxed-shirt-lmsh016448.html" class="btn btn-primary">Shop</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
</body>
</html>
